<main xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout" layout:fragment="content"
      xmlns:th="http://www.thymeleaf.org">
    <div class="container col-3 margin-top">
        <h2 th:text="${title}" class="text-center"></h2>
        <form th:object="${user}" method="post">
            <div class="input-group flex-nowrap margin-bottom">
                <label class="input-group-text" for="oldPassword">Old password</label>
                <input type="password" th:value="${user.oldPassword}" id="oldPassword" name="oldPassword"
                       class="form-control">
            </div>

           <div class="input-group flex-nowrap margin-bottom">
                <label class="input-group-text" for="newPassword">New password&nbsp;</label>
                <input type="password" th:value="${user.newPassword}" id="newPassword" name="newPassword"
                       class="form-control">
            </div>

            <div class="d-grid gap-2 col-4 mx-auto margin-bottom">
                <button type="submit" class="btn btn-primary" id="submit" name="submit"
                        value="submit">Change password</button>
                <a class="btn btn-primary" href="/recipes">Cancel</a>
            </div>

            <div th:if="${error != null}" class="errors alert alert-danger">
                <span th:text="${error}"></span>
            </div>
        </form>
    </div>
</main>
