<main xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout" layout:fragment="content"
      xmlns:th="http://www.thymeleaf.org">
    <div class="container col-5 margin-top">
        <h2 th:text="${title}" class="text-center"></h2>
        <form th:object="${user}" method="post" enctype="multipart/form-data">
            <div class="input-group flex-nowrap margin-bottom">
                <label class="input-group-text" for="username">Username</label>
                <input type="text" th:value="${user.username}" id="username" name="username" class="form-control">
            </div>

            <div class="input-group flex-nowrap margin-bottom">
                <label class="input-group-text" for="email">Email</label>
                <input type="email" th:value="${user.email}" id="email" name="email" class="form-control">
            </div>

            <div class="input-group flex-nowrap margin-bottom">
                <label class="input-group-text" for="password">Password&nbsp;</label>
                <input type="password" th:value="${user.password}" id="password" name="password" class="form-control">
            </div>

            <div th:if="${commonUtils.isUserAdmin(loggedUser)}" class="margin-bottom">
                <label class="input-group-text margin-bottom">User Role</label>

                <div class="form-check radio-input-indent">
                    <input class="form-check-input" type="radio" name="userRole" id="userRoleAdmin" value="ADMIN"
                           th:checked="${commonUtils.isRoleUser(user.userRole)}">
                    <label class="form-check-label" for="userRoleAdmin">Admin</label>
                </div>

                <div class="form-check radio-input-indent">
                    <input class="form-check-input" type="radio" name="userRole" id="userRoleUser" value="USER"
                           th:checked="${commonUtils.isRoleUser(user.userRole)}">
                    <label class="form-check-label" for="userRoleUser">User</label>
                </div>
            </div>

            <div class="margin-bottom">
                <label class="input-group-text margin-bottom">Gender</label>

                <div class="form-check radio-input-indent">
                    <input class="form-check-input" type="radio" name="gender" id="genderMale"
                           value="MALE" th:checked="${commonUtils.isGenderMale(user.gender)}">
                    <label class="form-check-label" for="genderMale">Male</label>
                </div>

                <div class="form-check radio-input-indent">
                    <input class="form-check-input" type="radio" name="gender" id="genderFemale"
                           value="FEMALE" th:checked="${commonUtils.isGenderFemale(user.gender)}">
                    <label class="form-check-label" for="genderFemale">Female</label>
                </div>

                <div class="form-check radio-input-indent">
                    <input class="form-check-input" type="radio" name="gender" id="genderOther"
                           value="OTHER" th:checked="${commonUtils.isGenderOther(user.gender)}">
                    <label class="form-check-label" for="genderOther">Other</label>
                </div>
            </div>

            <div class="input-group margin-bottom">
                <input type="file" class="form-control" th:value="${user.picture}" id="picture" name="picture" value="Upload">
            </div>

            <div class="d-grid gap-2 col-4 mx-auto margin-bottom">
                <button type="submit" class="btn btn-primary" id="submit" name="submit"
                        th:text="${title}" value="submit"></button>
                <a class="btn btn-primary" href="/recipes">Cancel</a>
            </div>

            <div th:if="${error != null}" class="errors alert alert-danger">
                <span th:text="${error}"></span>
            </div>
        </form>
    </div>
</main>