<main xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/layout" layout:fragment="content"
      class="d-md-flex flex-wrap">
    <div th:each="recipe : ${recipes}" class="card card-style">
        <div class="image-container">
            <img th:src="@{'data:image/jpg;base64,'+ ${recipe.picture}}" class="card-img-top" alt="..."/>
        </div>

        <div class="card-body">
            <p class="card-text" th:text = "@{'From book: ' + ${recipe.cookeryBookName}}"></p>
            <h5 class="card-title" th:text = "${recipe.name}"></h5>
            <p class="card-text" th:text = "${recipe.shortDescription}"></p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text = "@{${recipe.timeToCook} + ' minutes'}"></li>
            <li class="list-group-item" th:text = "${commonUtils.removeBrackets(recipe.products)}"></li>
            <li class="list-group-item" th:text = "${commonUtils.removeBrackets(recipe.tags)}"></li>

            <li class="list-group-item d-flex justify-content-center">
                <form class="d-inline" method="get" th:action="@{'/recipes/' + ${recipe.id}}">
                    <button type="submit" class="btn btn-primary">View recipe</button>
                </form>
            </li>

            <li th:if="${commonUtils.isOwnerOrAdmin(loggedUser, recipe)}" class="list-group-item d-flex justify-content-around">
                <form class="d-inline" method="get" th:action="@{'/recipes/' + ${recipe.id} + '/edit'}">
                    <button type="submit"class="btn btn-primary">Edit</button>
                </form>
                <form class="d-inline" method="post" th:action="@{'/recipes/' + ${recipe.id} + '/delete'}">
                    <button type="submit" class="btn btn-danger" >Delete</button>
                </form>
            </li>
        </ul>
    </div>
</main>